.react-responsive-modal-modal {
  padding: 0;
}

.walletSelectModal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  max-width: 360px;
  min-width: 330px;
  margin: 0;
  padding: 10px;
  min-height: 232px;
  top: 33%;
  left: 25%;

  background: url("img/bg-modal.png") no-repeat;
}

.walletSelectOverlay {
  position: fixed;
  inset: 0;
  background-color: #111418b3;
}
.walletSelectModal {
  transition: opacity 0.3s, transform 0.3s;
}

.walletSelectModal .header {
  height: 20px;
  margin-bottom: 17px;
  width: 100%;
  min-width: 331px;
  background: url(img/choose-wallet.png) center no-repeat;
}
.walletSelectModal .option {
  flex-basis: 50%;
  height: 58px;
  padding-left: 5px;
}
.walletSelectModal .option .icon {
  height: 50px;
  width: 50px;
}
.walletSelectModal .option.keplr-extension .icon {
  background: url(img/logos/keplr.png) center no-repeat ;
}
.walletSelectModal .option.leap-extension .icon {
  background: url(img/logos/leap.png) center no-repeat ;
}
.walletSelectModal .option.leap-metamask-cosmos-snap .icon {
  background: url(img/logos/metamask.png) center no-repeat ;
}



.walletSelectModal .icon-bg {
  float: left;
  height: 50px;
  width: 50px;
  background: url(img/bg-icon.png) center no-repeat;
}
.walletSelectModal .name {
  float: left;
  height: 58px;
}
.walletSelectModal .name .textbox {
  height: 22px;
  width: 92px;
  margin: 5px 0 1px 10px;
  background: url(img/bg-text-box.png) left no-repeat;
}

.walletSelectModal button {
  background: url(img/btn.png);
  background-size: cover;
  width: 48px;
  margin-left: 20px;
  height: 17px;
}

.walletSelectModal .option:hover button {
    background: url(img/btn-hover.png);
  }
  .walletSelectModal .option:active button {
      background: url(img/btn-active.png);
    }
.walletSelectModal .option.disabled button {
    background: url(img/btn-disabled.png);
  }
  .walletSelectModal .option.disabled::hover button {
      background: url(img/btn-disabled.png);
    }

.walletSelectModal.open {
  opacity: 1;
  transform: translateY(0);
}

.walletSelectModal.closed {
  opacity: 0;
  transform: translateY(-100%);
}
@media (max-width: 600px) {
  .walletSelectModal {
    width: 90%;
    inset: 1% 1%;
  }
}
