.winxp {
  background: url(assets/img/bg-winxp.jpg) no-repeat center center fixed;
}

.app__content {
  border-width: 4px;
  border-image: url(assets/img/window-border-slice.png);
  border-image-slice: 4;
  border-top: 2px solid #003366;
}
