@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
body .winxp {
  background: url(assets/img/bg.webp) repeat center center fixed;
  font-family: Tahoma, "Noto Sans", sans-serif;
  height: 100%;
  overflow: hidden;
  position: relative;
}
