#Winamp {
  display: none;
}
#webamp {
  position: absolute;
  top: 20vh;
  left: 60vw;
}
#winamp-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  pointer-events: none;
}
#winamp-container > div {
  pointer-events: auto;
}
