@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");

#root {
  height: 100%;
}

.keygenWindow {
  background: url("./assets/img/keygenbase.png");
  width: 359px;
  height: 522px;
  position: absolute;
  top: 0;
  left: -3px;
  z-index: 99;
}

.crackedWindow {
  background: url("./assets/img/crackedMarket.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: url("./assets/img/idle.png"), auto !important;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smoothing: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#memeMarketSection {
  flex: auto;
  background: url("./assets/img/bgAssets.png");
  border-radius: 5px;
  height: 79%;
  width: 62%;
  float: right;
  max-width: 698px;

  margin-top: 3%;
  margin-right: 5%;
  padding: 1%;
}
#bottomBar {
  display: flex;
  width: 38%;
  height: 85px;
  float: right;
  flex-direction: row-reverse;
  align-items: baseline;
}
#bottomBar div:first-child {
  flex: initial;
}
#bottomBar div {
  flex: auto;
  text-align: end;
}

.swapWindow {
  background: url("./assets/img/baseswap.png");
  position: absolute;
  top: 4%;
  right: 5%;
  width: 289px;
  height: 155px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 99;
}
.react-tooltip_place-right {
  z-index: 1000;
}
.swapMessage {
  position: relative;
  top: 5%;
  right: 10%;
  color: red;
  font-weight: bold;
}

.leftSwapSymbol {
  float: left;
  text-align: center;
  font-size: 1rem;
  width: 120px;
  height: 100px;
}

.leftSwapName {
  text-align: center;
  position: absolute;
  width: 120px;
  height: 19px;
  left: 5px;
  color: white;
  bottom: 30px;
  z-index: 98 !important;
}

.rightSwapSymbol {
  float: right;
  text-align: center;
  font-size: 1rem;
  width: 120px;
  height: 100px;
}

.rightSwapName {
  text-align: center;
  position: absolute;
  width: 120px;
  height: 19px;
  right: 5px;
  color: white;
  bottom: 30px;
  z-index: 98 !important;
}

.tradeSwap {
  background: url("assets/img/trade.png");
  position: absolute;
  width: 60px;
  height: 19px;
  left: 114px;
  top: 36px;
  z-index: 99 !important;
}
.tradeSwap:hover {
  background: url("assets/img/tradehover.png");
}
.tradeSwap:active {
  background: url("assets/img/tradepressed.png");
}

.cancelSwap {
  background: url("assets/img/cancel.png");
  position: absolute;
  width: 60px;
  height: 19px;
  left: 114px;
  top: 58px;
  z-index: 99 !important;
}
.cancelSwap:hover {
  background: url("assets/img/cancelhover.png");
}
.cancelSwap:active {
  background: url("assets/img/cancelpressed.png");
}

#leftInput {
  position: absolute;
  width: 94px;
  height: 14px;
  outline: none;
  border: none;
  left: 24px;
  bottom: 12px;
  z-index: 99 !important;
  cursor: url("./assets/img/idle.png"), auto !important;
}

#leftInput:active,
#rightInput:active {
  cursor: url("./assets/img/click.png"), auto !important;
}

#rightInput {
  position: absolute;
  width: 94px;
  height: 14px;
  outline: none;
  border: none;
  right: 8px;
  bottom: 12px;
  z-index: 99 !important;
  cursor: url("./assets/img/idle.png"), auto !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.switchSwap {
  background: url("assets/img/switch.png");
  position: absolute;
  width: 60px;
  height: 19px;
  left: 114px;
  top: 80px;
  z-index: 99 !important;
}
.switchSwap:hover {
  background: url("assets/img/switchhover.png");
}
.switchSwap:active {
  background: url("assets/img/switchpress.png");
}

.genButtons {
  position: absolute;
  right: 6px;
  top: 4px;
  cursor: pointer;
  z-index: 99 !important;
}
.genButtons img {
  width: 13px;
  height: 13px;
  padding: 0px 1px;
}

.genInputs {
  background-color: rgba(33, 33, 33, 0.5);
  border: 1px solid white;
  position: absolute;
  bottom: 40px;
  left: 5px;
  width: 96%;
}

.genInputs input {
  display: grid;
  justify-content: center;
  margin: 5px auto;
  padding: 1px;
  width: 90%;
  background-color: transparent;
}

#version::placeholder {
  text-align: left;
  color: darkgray;
}

.versionBox p {
  color: rgba(255, 255, 255, 0.5) !important;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1px 3px;
  top: 20px;
  right: 18px;
  cursor: pointer;
}

.bottomText {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  margin-left: -10px;
}

.bottomText p {
  color: white;
  text-align: center;
  padding: 0px 20px;
  font-size: 0.75rem;
  cursor: pointer;
}

.bottomText p::first-letter {
  text-decoration: underline;
}

.genInputs input::placeholder {
  color: white;
  text-align: center;
  font-weight: 300;
}

.genInputs p {
  color: white;
  font-weight: 300;
  margin: 0;
  margin-top: 5px;
  margin-left: 12px;
  font-size: 0.75rem;
}

.mascot {
  width: 91px;
  height: 85px;
  position: relative;
  bottom: -7px;
}

.exit {
  width: 62px;
  height: 22px;
  bottom: 32px;
  right: 96px;
  z-index: 99;
}

.userSection {
  flex: auto;
  padding-top: 3%;
  margin-left: 2%;
  width: 25%;
  float: left;
}

.walletItems {
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;

  height: 52%;
  width: 23%;
  float: left;
  margin-top: 5%;
  margin-left: 3%;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: #FFFFFF;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #d4cbcb;
  border-bottom: 1px solid #d4cbcb;
}

.assetWrapper {
  background-color: #bbccdd;
  border-top: 1px solid #88aabb;
  border-left: 1px solid #88aabb;
  width: 50px;
  height: 50px;
  flex: auto;
  padding: 5px;
  margin: 2px;
}

.assetWrapper:last-child {
  flex: initial;
}

.assetEmoji {
  flex: auto;
  font-size: 25px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -10px;
  position: relative;
  right: 5px;
}

.assetAmount {
  flex: auto;
  width: 40px;
  margin-top: 10px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: "VCR OSD Mono", sans-serif;
  font-weight: 700;
  font-size: 11px;
  background-image: linear-gradient(to right, rgb(215 50 196), rgb(201 19 177));
  color: transparent;
  background-clip: text;
}

.invText {
  width: 120px;
  height: 17px;
  transform: translateY(35px);
}

.invTop,
.invBottom {
  width: 228px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.invTop {
  transform: translateY(35px);
}

.invBottom {
  transform: translateY(-40px);
}

.invSlots {
  width: 228px;
  height: 70px;
  padding: 0;
  margin: 0;
  margin-top: -5px;
}

.userWindow {
  width: 228px;
  height: 111px;
}

.walletName {
  background: url("./assets/img/walletname.png");
  width: 228px;
  height: 41px;
}
.walletName p {
  padding-top: 2%;
  margin-left: 35%;
}

.walletSpan {
  position: absolute;
  width: 50px;
  height: 39px;
  bottom: 22px;
  right: 380px;
  z-index: 99;
}

.walletButton {
  width: 50px;
  height: 39px;
  bottom: 22px;
  right: 380px;
  z-index: 99;
}

.assetList {
  width: 300px;
  padding-top: 1%;
  padding-left: 80px;
  height: 95px;
  float: left;
}

.assetList .asset {
  background: url("assets/img/bgtextbox.png");
  width: 208px;
  height: 20px;
  padding-left: 10px;
  color: blue;
  text-transform: uppercase;
  -webkit-font-smoothing: none;
  line-height: 20px;
  text-align: left;
}

.memeSection {
  background: url("./assets/img/memes.png");
  height: 12%;
}

.buttonSection {
  background: url("./assets/img/backButtons.png");
  background-repeat: no-repeat;
  background-size: 192px 22px;
  background-color: #4499dd;
  display: flex;
  z-index: 99;
}

.allButton,
.hiddenButton,
.classicButton {
  width: 64px;
  height: 22px;
}

.midSection {
  position: absolute;
  display: flex;
  width: 615px;
  top: 95px;
  left: 275px;
  z-index: 98 !important;
}

.listItems {
  height: 75%;
}

.listedItem {
  display: flex;
  width: 608px;
  z-index: 99;
}

.itemText {
  position: absolute;
  z-index: 99;
}

.listleft,
.listMiddle,
.listRight {
  width: 1px;
  height: 19px;
}

.listMiddle {
  width: 100%;
}

.listBg {
  position: absolute;
  display: flex;
  width: 615px;
  height: 360px;
  bottom: 95px;
  left: 275px;
  z-index: 98;
}

.listEnd {
  position: absolute;
  display: flex;
  width: 615px;
  bottom: 95px;
  left: 275px;
  z-index: 98;
}

.bgMiddle {
  width: 100%;
  height: 53px;
}

.bgEnd {
  width: 5px;
  height: 53px;
}

.memeStart {
  width: 227px;
  height: 77px;
}

.memeMiddle {
  width: 100%;
  height: 77px;
}

.memeEnd {
  width: 9px;
  height: 77px;
}

#Keygen {
  background-color: transparent !important;
}

#Keygen .app__header {
  position: absolute;
  top: 26px !important;
  width: 110%;
  z-index: 98 !important;
}

#Keygen .header__bg,
#Keygen .header__button,
#Keygen .app__header__icon,
#Keygen .app__header__title {
  visibility: hidden !important;
}

/* width */
.walletItems::-webkit-scrollbar,
.walletItems::-webkit-scrollbar,
.ag-body-vertical-scroll-viewport::-webkit-scrollbar {
  background: url("./assets/img/scrollbar.png");
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track,
.ag-body-vertical-scroll-viewport::-webkit-scrollbar-track {
  background: url("./assets/img/scrollbar.png");
  width: 12px;
  background-repeat: no-repeat;
}

/* Handle */
.walletItems::-webkit-scrollbar-thumb,
.ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb {
  background: url("./assets/img/scrollbutton.png");
  width: 11px;
  background-repeat: no-repeat;
}

/* Handle on hover */
.walletItems::-webkit-scrollbar-thumb:hover,
.ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background: url("./assets/img/scrollbutton.png");
  width: 11px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar,
.ag-root,
.swapWindow,
.crackedWindow,
.ag-header-cell,
.ag-header-cell-comp-wrapper,
.ag-header-cell-text,
.ag-cell button {
  cursor: url("./assets/img/idle.png"), auto !important;
}

.swapWindow:active,
.ag-root:active,
.listItems:active,
.crackedWindow:active,
.ag-header-cell:active,
.ag-header-cell-comp-wrapper:active,
.ag-header-cell-text:active,
.ag-cell button:active {
  cursor: url("./assets/img/click.png"), auto !important;
}

#assetGrid.ag-theme-quartz-dark {
  height: 111%;
  width: 100%;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smoothing: none;

  --ag-row-height: 20px;

  --ag-font-family: arial;
  --ag-font-size: 12px;

  --ag-wrapper-border-radius: 0;

  --ag-header-height: 24px;

  --ag-background-color: rgb(34, 102, 187);
  --ag-header-background-color: rgb(225, 238, 255);

  /* disable all borders */
  --ag-borders: none;
  /* then add back a border between rows */
  --ag-row-border-style: solid;
  --ag-row-border-width: 1px;
  --ag-row-border-color: #003399;
  --ag-cell-horizontal-border: solid #003399;

  --ag-range-selection-border-style: none;
}

#assetGrid .ag-header-cell {
  color: rgb(34, 85, 119);
}
#assetGrid .ag-cell {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smoothing: none;
}
#assetGrid .ag-cell-focus {
  border-right: 1px solid #003399;
}

#CrackedIcon,
#WinampIcon,
#Cracked,
#webamp,
#Winampmenu,
#Crackedmenu {
  display: none;
}

#Crackedmenu img,
#Winampmenu img {
  margin-top: 4px;
}

#Crackedmenu div,
#Winampmenu div {
  margin-top: -15px;
}

.gZHubY .footer__window {
  background-color: transparent !important;
  box-shadow: none !important;
}

.gZHubY .footer__window:before {
  box-shadow: none !important;
}

.focus {
  background: url("./assets/img/activeMenu.png");
  background-size: 100% 23.5px;
  background-repeat: no-repeat;
}

.cover {
  background: url("./assets/img/unactiveMenu.png");
  background-size: 100% 23.5px;
  background-repeat: no-repeat;
}

#Unicorn,
#gMpRiB {
  background-color: transparent !important;
}

.leftCornerIE {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  z-index: 99;
}

.rightCornerIE {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  z-index: 99;
}

.leftBarIE {
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  z-index: 98;
}

.rightBarIE {
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  z-index: 98;
}

.bottomBarIE {
  position: relative;
  bottom: 0;
  height: 4px;
  width: 100%;
  z-index: 98;
}

#Unicorn .header__bg {
  left: 3px !important;
  width: 99.2% !important;
}
